$dark-gunmetal-color: #201830;
$floral-white-color: #fff8f3;
$royal-orange-color: #ff9051;
$medium-purple-color: #936cdd;
$dim-gray-color: #665f73;
$white-color: #fff;
$linen-color: #ffefe7;
$orange-red-color: #fd6f1f;
$light-silver: #d8d5de;
$metalic-silver-color: #aba6b5;
$dark-purple: #2b213f;
