@media (max-width: 767.98px) {
  .header {
    .row {
      align-items: center;
      .mobile-nav {
        display: flex;
        justify-content: end;
        .mobile-nav__jar {
          display: block;
          width: 1.8rem;
          height: 1.6rem;
          .mobile-nav__icon {
            width: 100%;
            height: 100%;
          }
        }

        .mobile-nav__layer {
          position: fixed;
          width: 100vw;
          height: 100%;
          background-color: #fff8f3;
          opacity: 0.6;
          top: 0rem;
          left: 0rem;
          transform: translateX(100vw);
          z-index: 10;
          transition: transform 0.75s;
        }

        .mobile-nav__layer--check {
          position: absolute;
          visibility: hidden;

          &:checked + .mobile-nav__layer {
            transform: translateX(0rem);
          }
        }
      }
    }
  }
}
