@forward "./header";
@forward "./hero";
@forward "./rank";
@forward "./category";
@forward "./episodes";
@forward "./quotes";
@forward "./subs";
@forward "./footer";

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .mobile-hidden {
    display: none;
  }

  .container {
    --gutter-spacing-value: 1.78rem;
  }
}
