@media (max-width: 1199.98px) {
  .category {
    .category-info {
      .category-info__vector {
        width: 18rem;
        top: 3.1rem;
        right: 29.3rem;
      }
    }

    .bottom-category {
      grid-template-rows: 23.5rem 23.5rem;
    }
  }
}
