@media (max-width: 1199.98px) {
  .subs {
    .subs-container {
      .top-subs {
        .left-top-subs {
          .left-top-subs__vector {
            width: 14.2rem;
            left: -0.3rem;
            bottom: -0.3rem;
          }
        }
      }
    }
  }
}
