@media (max-width: 991.98px) {
  .subs {
    .subs-container {
      padding-top: 7rem;
      padding-bottom: 7rem;

      .top-subs {
        .left-top-subs {
          .left-top-subs__vector {
            width: 9.6rem;
            bottom: 3rem;
          }
        }
      }

      .bottom-subs {
        margin-top: 5rem;
      }
    }
  }
}
